* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #EFEFEF;
}

.sfco-bp-vis-wrapper {
	/* DECLARATIONS ADDED VIA JS */
}

.sfco-bp-vis-item {
	/* DECLARATIONS ADDED VIA JS */
}

.sfco-bp-vis-item:hover {
	/* DECLARATIONS ADDED VIA JS */
}

.sfco-bp-vis-text {
	/* DECLARATIONS ADDED VIA JS */
}
